.createJobContainer {
    padding: 30px 60px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    width: 100%;
    margin: 15px 0 0 15px;
}
.createJobContainer .jobInfoContainer {
    display: flex;
    justify-content: space-between;
} 
.createJobContainer h1 {
    font-weight: 500;
    font-size: 22px;
    color: #7B1FA2;
}
.createJobContainer .createJobCol {
    width: 50%;
    padding: 30px;
}
.createJobContainer input {
    border:none;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    outline: none;
}
.createJobContainer .jobGeneralInfo input {
    width: 100%;
    min-width: 300px;
}
.createJobContainer .jobRecurringInfo input {
    margin: 0 10px;
    width: 50px;
    text-align: center;
}
.createJobContainer h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
}
.jobRecurringInfo h1 {
    display: inline;
}
.jobRecurringInfo .divider {
    height: 15px;
    width: 100%;
}
.jobTaskListContainer .taskAction {
    margin: 30px auto;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.jobTaskListContainer .addTaskBtn {
    background-color: #7B1FA2;
    color: #fff;
    padding: 5px 15px 5px 5px;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: .2s;
}
.jobTaskListContainer .addTaskBtn span {
    vertical-align: 10px;
    position: relative;
    top: 4px;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}
.jobTaskListContainer .addTaskBtn:hover {
    background-color: blueviolet;
    cursor: pointer;
}
.jobTaskListContainer .addTaskBtn svg {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 10px;
}
.jobTaskListContainer .taskContainer {
    display: flex;
    margin: 50px 0;
}
.jobTaskListContainer .taskBox {
    border: 3px solid #7B1FA2;
    width: 95%;
    padding: 30px;
}
.jobTaskListContainer .taskCount {
    width: 5%;
    align-self: center;
    font-size: 28px;
    font-weight: 500;
    color: #7B1FA2;
    text-align: center;
    transition: .2s;
}
.jobTaskListContainer .taskCount:hover .taskCountLabel {
    cursor: pointer;
}

.jobTaskListContainer .taskBox .taskRow {
    display: flex;
    width: 100%;
}
.taskBox .taskInputContainer h1 {
    font-weight: 500;
    font-size: 22px;
    color: #7B1FA2;
}
.taskBox .taskInputContainer {
    margin: 20px 0;
    width: 100%;
    padding: 0 30px;
}
.taskBox .taskInputContainer input {
    width: 100%;
}
.taskBox .taskInputContainer label {
    font-weight: 500;
    font-size: 22px;
    color: #7B1FA2;
    margin: 0 0 20px 0;
    display: block;
}
.jobTaskListContainer .taskDelete {
   display: inline-block;
   color: #7B1FA2;
   border-radius: 50%;
   padding: 10px 12px;
   transition: .2s;
}
.jobTaskListContainer .taskDelete:hover {
    background-color: #7B1FA2;
    color: white;
    cursor: pointer;
    padding: 10px 12px;
}
.jobTaskListContainer .submitJobBtn {
    float: right;
    background-color: darkmagenta;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: .2s;
    border: 2px solid transparent;
}
.jobTaskListContainer .submitJobBtn:hover {
    cursor: pointer;
    background-color: #fff;
    color: darkmagenta;
    border: 2px solid darkmagenta;
}