.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  
.dashContent {
    margin-left: 95px;
    padding: 15px;
    min-height: 500px;
}
.dashContent .dashHeader {
    display: flex;
    justify-content: space-between;
}
.dashContent .dashHeader h1 {
    margin: 0 0 0 15px;
    font-weight: 400;
    font-size: 28px;
}
.dashContent .dashHeader button {
    background-color: purple;
    color: #fff;
    padding: 5px 15px 5px 5px;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: space-between;
    outline: none;
    transition: .2s;
}
.dashContent .dashHeader button span {
    vertical-align: 5px;
    position: relative;
    top: 4px;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}
.dashContent .dashHeader button:hover {
    background-color: blueviolet;
    cursor: pointer;
}
.dashHeader button svg {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 10px;
}
.dashContent .dashActions {
    display: flex;
}
.dashActions input {
    padding: 0px 10px 0px 25px;
    border-radius: 25px;
    border: 1px solid #999;
    font-size: 9px;
    height: 28px;
    width: 200px;
    outline: none;
    box-sizing: border-box;
    margin-top: 5px;
}
.dashActions .fa-search {
    font-size: 12px;
    position: relative;
    left: 20px;
    top: 13px;
}
.dashCreateContainer {
    display: flex;
    justify-content: center;
}
.dashUserPrompt {
    align-self: center;
    text-align: center;
}
.dashUserPrompt h1 {
    font-weight: 300;
    color: #666;
    margin: 10px 0;
    font-size: 38px;
}
.dashUserPrompt p {
    margin: 0;
    color: #666;
    font-size: 18px;
}
.dashUserPrompt svg {
    border-radius: 50%;
    border: 2px solid #666;
    padding: 8px;
    margin-top: 20px;
    transition: .2s;
    font-size: 10px;
}
.dashUserPrompt svg:hover {
    color: #fff;
    background-color: #666;
    cursor: pointer;
}
.jobTaskListContainer {
    padding: 30px;
}
.jobTaskListContainer h1 {
    margin: 0;
    margin-bottom: 15px;
}
.jobTaskListContainer p {
    color: #999;
    margin: 0;
    line-height: 8px;
}
.dashTitle {
    display: flex;
}
.dashTitle a {
    text-decoration: none;
}
.jobsDash .dashTitle h1.active {
    color: red;
}
.employeesDash .dashTitle h1.active {
    color: blue;
}
.dashTableContainer {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    padding: 30px;
    margin: 30px 15px;
}
.dashTableContainer .dashTableFilterHeader {
    display: flex;
}
.dashTableFilterHeader h2 {
    margin: 0 5px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 300;
    border: 3px solid transparent;
    transition: .2s;
    border-radius: 5px;    
}
.dashTableFilterHeader h2.active {
    border: 3px solid #333;
}
.dashTableFilterHeader h2:hover {
    cursor: pointer;
    border: 3px solid #555;
}
.dashTableTitles {
    display: flex;
    justify-content: space-between;
}
.dashTableTitles h1 {
    font-weight: 400;
    font-size: 24px;
    margin: 30px;
}
.dashTableTitles select {
    display: flex;
    align-self: center;
}
.dashTableTitles .dashItemFilters * {
    display: inline;
}
.dashTable {
    width: 100%;
    border-collapse: collapse
}
.dashTable tbody {
    border: 1px solid #999;
}
.dashTable thead {
    border-bottom: 3px solid red;
    text-align: left;
}
.dashTable thead tr {
    padding: 5px 15px;
}
.dashTable tbody tr td {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}
.dashTable tbody tr td p {
    margin: 0;
}
.paginationContainer {
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
}
.react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    display: inline-block;
    margin: 0 10px;
}
.react-paginate li.page-item a:hover {
    cursor: pointer;
    background-color: purple;
    color: #fff;
}
.react-paginate a {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: .2s;
    display: inline-block;
    outline: none;
}
.react-paginate li.active {
    background-color: purple;
    color: #fff;
    border-radius: 50%;
}